*[role="banner"] {
	background-color:#FF9800;
	text-align:center;
	padding:5pt;
	color:rgba(0,0,0,0.87);
}

header li {
	display:inline;
}

header a {
	padding:5pt;
	text-decoration:none;
	color:rgba(0,0,0,0.87);
}

header a:hover {
	box-shadow:0 0 5pt;
}