body {
  margin: 20pt 40pt;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-rule: solid lightgray 1px;
  -moz-column-rule: solid lightgray 1px;
  column-rule: solid lightgray 1px;
  -webkit-column-gap: 40pt;
  -moz-column-gap: 40pt;
  column-gap: 40pt;
  font-size: 2em;
  font-family: "Helvetica Neue", sans-serif;
}
img {
  width: 100%;
}
h1 {
  -webkit-column-span: all;
  column-span: all;
  text-align: center;
}
p:first-of-type:first-letter {
  font-size: 5em;
  float:left;
}
figcaption {
  font-style: italic;
}
